
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Skycode-primary: mat.define-palette(mat.$indigo-palette);
$Skycode-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Skycode-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Skycode-theme: mat.define-light-theme((
  color: (
    primary: $Skycode-primary,
    accent: $Skycode-accent,
    warn: $Skycode-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Skycode-theme);

/* Toolbar styles */
.toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; 
    color: #FFA726; 
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .toolbar img {
    height: 50px; 
  }
  
  /* Navigation Alignment to Right */
  .toolbar nav {
    display: flex;
    margin-left: auto; /* Move nav to the right */
  }
  
  .toolbar a {
    color: #FFA726;
    padding: 0 16px;
    text-decoration: none;
    line-height: 60px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toolbar a:hover {
    background-color: #FFCCBC;
  }
  
  .toolbar button {
    padding: 10px 16px;
    background-color: #FFA726; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toolbar button:hover {
    background-color: #FB8C00; /* slightly darker orange for hover effect */
  }
  
  /* Page Background */
  body {
    background-color: #FFECB3;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
